@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto.eot');
  src: url('~@/assets/fonts/Roboto.eot?#iefix') format('opentype'),
  url('~@/assets/fonts/Roboto.woff') format('woff'),
  url('~@/assets/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e8e8e8;
  font-size: 14px;
}

.top-site {
  height: 45px;
  background-color: #232323;
}

.bottom-site {
  height: 240px;
  background-color: #434343;
}